body{
    background: #0a0a0a;
}

/* Projects Page */
.projects-header {
  text-align: center;
  padding: 80px 20px 40px;
  color: #ffffff;
}

/* Remove default link styling */
a {
  color: inherit;
  text-decoration: none;
}

a:hover{
    background: #070435;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(79, 70, 229, 0.4);
    opacity: 9px;
}


.projects-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.projects-header p {
  max-width: 700px;
  margin: 0 auto;
  color: #bdbdbd;
}

/* Grid Layout */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
  gap: 30px;
  padding: 40px 60px 80px;
}

/* Project Card */
.project-card {
  background: #0e0e0e;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 400px;
  align-items: center;
  justify-content: center;
}

.disabled-link {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}


.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 40px rgba(79, 70, 229, 0.4);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Card Content */
.project-content {
  padding: 20px;
}

.project-content h3 {
  color: #fff;
  margin-bottom: 10px;
}

.project-content p {
  color: #b5b5b5;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.project-content a {
  display: inline-block;
  padding: 10px 18px;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.9rem;
}

.project-content a:hover {
  opacity: 0.9;
}

.projects-footer{
  color: #fff;
  margin-left: 80px;
  font-size: large;
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}